.message {
    /*max-width: 575px;*/
    min-height: 77px;
    position: relative;
    margin-top: 24px;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    align-self: end;
}

.text {
    background-color: rgba(0, 102, 204, 1);
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 13px;
    margin-right: 20px;
    position: relative;
    /*box-shadow: 0px 5px 20px 0px rgba(29, 33, 38, 0.03);*/

}

.text:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 20px solid rgba(0, 102, 204, 1);
    position: absolute;
    right: -17px;
    bottom: 0px;
}

.name {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: end;
    margin-bottom: 3px;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Montserrat', sans-serif;
}

.time {
    position: absolute;
    right: 13px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: rgba(0, 0, 0, 1);

}