.buttonsContainer {
    margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    gap:94px;
    width: 1022px;
    margin: 0 auto;
}

.imageContainer {
}

.image {
}

.textContainer{
    align-content: center;
}

.code {
    font-size: 30px;
    font-weight: 500;
}

.text {
    font-size: 16px;
    font-weight: 500;
}
.info {
}