.buttonsContainer {
    display: flex;
    gap: 21px;
    margin-top: 55px;
}

.clock {

}

.watch {
    font-weight: 400;
    font-size: 20px;
}

.watch strong {

}

.more {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 8px;
}