.item {

}

.item:last-of-type {
}

.users {
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-bottom: 18px;
}

.container {
    max-width: 606px;
}

.thead {
    background-color: rgba(229, 229, 229, 1);
    font-weight: 600;
    height: 36px;
}

.users td {
    padding-left: 17px;
}

tbody td {
    height: 48px;
}

.item .nameCol {
    font-weight: 300;
}

.item .ageCol {
    font-weight: 600;
}