.friendMessage {
    min-height: 77px;
    position: relative;
    margin-top: 24px;
    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    margin-bottom: 5px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    align-self: end;
}

.friendText {
    background-color: rgba(245, 247, 251, 1);
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1);
    color: rgba(0, 0, 0, 1);
    padding: 8px 13px;
    margin-left: 20px
}

.friendText:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgba(245, 247, 251, 1);
    position: absolute;
    left: 52px;
    bottom: 16px;

}

.friendName {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 3px;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.friendTime {
    position: absolute;
    left: 13px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: rgba(0, 0, 0, 1);
}
