.button {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 24px;
    min-width: 132px;
    min-height: 30px;
    border-radius: 3px;
    border: none
}


.disabled {
    background-color: rgba(0, 77, 153, 1);
    color: rgba(0, 46, 92, 1);
    opacity: 50%;
}

.secondary {
    border: 1px solid rgba(0, 102, 204, 1);
    background-color: transparent;
    color: rgba(0, 102, 204, 1);
}

.default {
    background-color: rgba(0, 102, 204, 1);
}

.red {
    background-color: rgba(204, 20, 57, 1);

}

.default:hover {
    background-color: rgba(0, 128, 255, 1);
}

.red:hover {
    background-color: rgba(255, 26, 71, 1);
}

.secondary:hover {
    background-color: rgba(229, 240, 250, 1);
    color: rgba(0, 102, 204, 1);
}


.default:active {
    background-color: rgba(0, 89, 178, 1);

}

.secondary:active {
    background-color: rgba(201, 229, 255, 1);
    color: rgba(0, 102, 204, 1);
}

.red:active {
    background-color: rgba(178, 18, 50, 1);
}

.button:disabled {
}
